graft docs
graft examples
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .isort.cfg
include .pylintrc

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml

prune */.ropeproject
exclude src/mirrormapper/mirror-mapper.py
global-exclude *.py[co] __pycache__
